body{
    font-family: 'Coming Soon', cursive;
    font-size: 20pt;
    font-weight: bolder;
    background: url("../../images/wordguess/d2f210eebb4ddfc22fbc7bd747adc78b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}

#title{
    font-size: 28pt;
}

/* .container{
    background: url("../images/d2f210eebb4ddfc22fbc7bd747adc78b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
} */

#man{
    height: 350px;
    padding-left: 10%;
    padding-right: 10%;
}

#word_msg, #letter_guesses, #letters{
    text-align: center;
}